{% extends "base.html" %}

{% block includes %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
{% endblock %}


{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
     {% endif %}
  {% endwith %}
  <div id="big">
    Hello world!
    <br/><br/>
    What do you want to do?
    <br/><br/>
  </div>
  <!--- Action Buttons --->
  <form method="post">
    <input type="submit" name="add" value="Add person" class="active">
    <input type="submit" name="all" value="Show all entries" class="active">
    <input type="submit" name="last" value="Show last entry" class="active">
  </form>
{% endblock %}
